{% extends 'posto/base.html' %}
{% block content %}

<hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action="/login/" method="post">
                        {% csrf_token %}
                        {% if form_errors == 'user' %}
                            <p>Email ou senha inválido</p>
                        {% endif %}
                        {{ form.as_p }}
                    <button type="submit" value="Submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}