{% extends 'posto/base.html' %}
{% block content %}

<!-- Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81704324-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- ###################################################################################### -->

<hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action="/login/" method="post">
                        {% csrf_token %}
                        {% if form_errors == 'user' %}
                            <p>Email ou senha inválido</p>
                        {% endif %}
                        {{ form.as_p }}
                    <button type="submit" value="Submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}