{% extends 'posto/base.html' %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">


<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

</style>

    <div class="container" id="div1">
        <form action="{% url 'login' %}" method="post" class="form-signin">
            <h2 class="form-signin-heading">Acesse sua conta</h2>
                {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    {% if form_errors  %}
                        {% for erro in form.errors %}
                            <h1>{{ erro }}</h1>
                        {% endfor %}
                    {% endif %}
                    {{ form.as_p }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button type="submit" value="Submit" class="btn btn-primary">Entrar</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'cadastro' %}">Ainda não sou cadastrado</a></li>
                        <li><a href="{% url 'forgot_pass' %}">Esqueci minha senha</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

{% endblock %}