{% extends 'posto/base.html' %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">


<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

</style>

    <div class="container" id="div1">
        <div class="text-center">
            <h2 class="form-signin-heading">Acesse sua conta</h2>
        </div>
        <form action="{% url 'login' %}" method="post" class="">
                {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="jumbotron">
                    {% if form_errors  %}
                        {% for erro in form.errors %}
                            <h1>{{ erro }}</h1>
                        {% endfor %}
                    {% endif %}
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="username" id="email" placeholder="Email">
                      </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Senha">
                        </div>
                        <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" name="next" value="{{ next }}" />
                            <button type="submit" value="Submit" class="btn btn-primary">Entrar</button>
                        </div>
                        </div>
                </div>
                    <div class="row">
                        <div class="col-md-8">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'cadastro' %}">Ainda não sou cadastrado</a></li>
                            <li><a href="{% url 'forgot_pass' %}">Esqueci minha senha</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>

        </form>
    </div>

{% endblock %}