{% extends 'posto/base.html' %}
{% block content %}
<style>
#jb-termos {
    border-radius: 25px;
    border: 2px solid #eee;
}
#texto-termos{
    border-radius: 25px;
    border: 2px solid #eee;
}
</style>
<script>
function fone(){
    if (document.frm.campo.value.length == 0){
    document.frm.campo.value = "(" + document.frm.campo.value; }
    if (document.frm.campo.value.length == 4){
    document.frm.campo.value = document.frm.campo.value + ")"; }
    if (document.frm.campo.value.length == 9){
    document.frm.campo.value = document.frm.campo.value + "-";}
}

function check(){
    if(document.getElementById("optionsRadios2").checked == true){
        document.getElementById("enviar").disabled = false;
        document.getElementById("enviar").className = "btn btn-primary btn-lg btn-block";
        document.getElementById("enviar").innerHTML = "Enviar";
    }
};
function uncheck(){
    if(document.getElementById("optionsRadios1").checked == true){
        document.getElementById("enviar").disabled = true;
        document.getElementById("enviar").className = "btn btn-danger btn-lg btn-block";
        document.getElementById("enviar").innerHTML = "Cancelar";
    }
};

</script>
<hr>
    <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Cadastro de usuário</h1>
                </div>
            </div>
            <br>
        <div class="row">
            <form action="/cadastro/" method="post">
                {% csrf_token %}
            <div class="sing-up">
                <div class="col-md-6">
                    <div class="jumbotron">
                            <div class="row">
                                <div class="form-group">
                                    <div class="container-fluid"><strong>Nome:</strong>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="container-fluid"><strong>Empresa:</strong>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="text" class="form-control" id="empresa" name="empresa" placeholder="Nome da empresa">
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="CNPJ">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo na empresa">
                                            </div>
                                            <div class="container-fluid">
                                                <label for="{{form.tipo_empresa_id_for_label}}">Tipo de empresa</label>
                                                {{form.tipo_empresa}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <br>
                                            <div class="col-xs-12">
                                                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="container-fluid"><strong>Senha:</strong>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="password" class="form-control" id="password_check" name="password_check" placeholder="confirme sua senha">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="side-content">
                    <div class="container-fluid">
                        <div class="jumbotron" id="jb-termos" style="background-color:white;">
                            <div class="row">
                                <div class="container">
                                    <p class="text-justify">Você está se associando à uma rede de troca de informações.
                                        Esse clube não é definidor
                                        de crédito e as informações nele prestadas são de responsabilidade única e intranferivel
                                        de quem as registrou. A decisão de aceita-las como verdadeiras cabe somente a você, usuário
                                    </p>
                                </div>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" onchange="check()" name="optionsRadios" id="optionsRadios2" value="option1">
                                Entendi e concordo
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" onchange="uncheck()" name="optionsRadios" id="optionsRadios1" value="option2" checked>
                                Não concordo &mdash; cancele meu cadastro
                                </label>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="col-xs-6">
                                        <button type="submit" id="enviar" value="Submit" class="btn btn-danger btn-lg btn-block" disabled>Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            </form>
    </div>
    </div>

{% endblock %}
