{% extends 'posto/base.html' %}
{% block content %}
{% load staticfiles %}
<!-- Custom styles for this template -->
<link href="{% static 'css/justified-nav.css' %}" rel="stylesheet">
<style>
    .jumbotron{
        background-color: #eee
    }
    .jumbotron h1{
        font-size: 45px
    }
</style>


            {% block nav %}
                {% include 'posto/nav-ul-logged.html' %}
            {% endblock %}


<hr>
    <div class="container">
        <div class="row">
            <!-- Jumbotron -->
              <div class="jumbotron">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="text-left">
                              <h4>{{ request.user.first_name }} {{ request.user.last_name }} da {{ credor.empresa }},</h4>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="text-left">
                            <h1>Bem vindo ao DESABONO<small> nossa rede de informantes</small></h1>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="container-fluid">
                            <h3>O que deseja fazer agora?</h3>
                                {% if user.is_authenticated %}
                                <a class="btn btn-lg btn-default" href="{% url 'consulta_divida' %}" role="button">Consultar ocorrências</a>
                                <a class="btn btn-lg btn-primary" href="{% url 'divida' %}" role="button">Registrar ocorrência &raquo;</a>
                                <a class="btn btn-lg btn-default" href="{% url 'user' request.user.id %}" role="button">Consultar meus registros</a>
                                {% endif %}
                        </div>
                  </div>
              </div>
            {% if user_profile %}
                {{ user_profile.email }}
            {% endif %}
        </div>
    </div>
{% endblock %}