{% extends 'posto/base.html' %}
{% block content %}
<script>

function dividaPaga(id){
    var y = id.cells[9].innerHTML.toUpperCase().trim();
    if(y == "PAGA"){
        if(id.className == "success"){
            id.className = "";
        }else{
            id.className = "success";
        }
    }
    if(y == "EM ABERTO"){
        if(id.className == "warning"){
            id.className = "";
        }else{
            id.className = "warning";
        }
    }
}

function foiPaga(){
    var x = document.getElementsByTagName("tr");
    for(e=0; e < x.length; e++){
        var y = x[e].cells[9].innerHTML.toUpperCase().trim();
        if(y == "PAGA"){
            x[e].cells[9].className = "success";
        }else if(y == "EM ABERTO"){
            x[e].cells[9].className = "warning";
        }
    }
}
</script>

<style>
    tr {
        line-height: 25px;
    }
</style>

    <hr>
        <div class="container" onmouseover="foiPaga()">
            <form action="{% url 'consulta_divida' %}" method="post">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="search">Consulta</label>
                    <input type="text" class="form-control" id="search" name="search" placeholder="Nome ou CNPJ do devedor">
                      {{ form.search.errors }}
                  </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="inativos" id="inativos">Apenas dívidas em aberto
                    </label>
                </div>
                  <button type="submit" class="btn btn-default">Buscar</button>
            </form>
        </div>
     <hr>
        <div class="container" onmouseover="foiPaga()">
            <div class="table-responsive">
            <table class="table table-hover" id="table">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome devedor</th>
                        <th>Credor</th>
                        <th>CNPJ do devedor</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Nome do credor</th>
                        <th id="teste">Descrição</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody id="linhas">
                {% for divida in div_page %}
                    <tr onmouseover="dividaPaga(this)" onmouseout="dividaPaga(this)">
                        <td>
                            <a href="{% url 'divida_detail' divida.id %}">Mais detalhes</a>
                        </td>
                        <td>
                            <div style="height: cover; overflow:auto; width: 100px">
                                {{ divida.nome_devedor }}
                            </div>
                        </td>
                        <td>
                            {{ divida.credor_cnpj.first_name }} {{ divida.credor_cnpj.last_name }}
                        </td>
                        <td>
                            {{ divida.ident_devedor }}
                        </td>
                        <td>
                            <div style="height: cover; overflow:auto; width: 100px">
                                {{ divida.data_add }}
                            </div>
                        </td>
                        <td>
                            R${{ divida.valor }}
                        </td>
                        <td>
                            {{ divida.tipo_divida }}
                        </td>
                        <td>
                            {{ divida.nome_devedor }}
                        </td>
                        <td>
                            <div style="height: 50px; overflow:auto;">
                                {{ divida.descricao|truncatewords:10 }}
                            </div>
                        </td>
                        <td id="sit">
                            {% if divida.is_open %}
                                Em aberto
                            {% else %}
                                Paga
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

            <nav>
              <ul class="pagination">
                {% if div_page.has_previous %}
                    <li>
                        <a href="?page={{ div_page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled"><a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    <li><a href="?page={{page}}">{{ page }}</a></li>
                {% endfor %}
                  {% if paginator.num_pages > 5 %}
                      <li><a href="#">...</a></li>
                        <li><a href="?page={{ div_page.end_index }}">last</a></li>
                  {% endif %}

                  {% if div_page.has_next %}
                        <li>
                            <a href="?page={{ div_page.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a></li>
                    {% endif %}
              </ul>
            </nav>
        </div>

{% endblock %}