{% extends 'posto/base.html' %}
{% block content %}
<script>
function dividaPaga(id){
    var y = id.cells[9].innerHTML.toUpperCase().trim();
    if(y == "PAGA"){
        if(id.className == "success"){
            id.className = "active";
        }else{
            id.className = "success";
        }
    }
}

function foiPaga(){
    var x = document.getElementsByTagName("tr");
    for(e=0; e < x.length; e++){
        var y = x[e].cells[9].innerHTML.toUpperCase().trim();
        if(y == "PAGA"){
            x[e].cells[9].className = "success";
        }else if(y == "EM ABERTO"){
            x[e].cells[9].className = "warning";
        }
    }
}


</script>

    <hr>
        <div class="container" onmouseover="foiPaga()">
            <form action="{% url 'consulta_divida' %}" method="post">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="search">Consulta</label>
                    <input type="text" class="form-control" id="search" name="search" placeholder="Nome ou CNPJ do devedor">
                      {{ form.search.errors }}
                  </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="inativos" id="inativos">Apenas dívidas em aberto
                    </label>
                </div>
                  <button type="submit" class="btn btn-default">Buscar</button>
            </form>
        </div>
     <hr>
        <div class="container">
            <div class="table-responsive">
            <table class="table table-hover" id="table">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome devedor</th>
                        <th>Credor</th>
                        <th>CNPJ do devedor</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Nome do credor</th>
                        <th id="teste">Descrição</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody id="linhas">
                {% for divida in dividas %}
                    <tr>
                        <td>
                            <a href="{% url 'divida_detail' divida.id %}">Mais detalhes</a>
                        </td>
                        <td>
                            {{ divida.nome_devedor }}
                        </td>
                        <td>
                            {{ divida.credor_cnpj }}
                        </td>
                        <td>
                            {{ divida.ident_devedor }}
                        </td>
                        <td>
                            {{ divida.data_add }}
                        </td>
                        <td>
                            R${{ divida.valor }}
                        </td>
                        <td>
                            {{ divida.tipo_divida }}
                        </td>
                        <td>
                            {{ divida.nome_devedor }}
                        </td>
                        <td>
                            {{ divida.descricao }}
                        </td>
                        <td id="sit">
                            {% if divida.is_open %}
                                Em aberto
                            {% else %}
                                Paga
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
<br>


{% endblock %}