{% extends 'posto/base.html' %}

{% block content %}


<script>
function aceito(){
    if (document.getElementById("disable1").disabled == false) {
        document.getElementById("disable1").disabled = true;
    } else {
        document.getElementById("disable1").disabled = false;
    }
};
</script>


<hr>
    <div class="container">
        <div class="row">
            {% if c_errors == 'cnpj' %}
                <h3>CNPJ inválido</h3>
            {% endif %}
            <label>
                <input type="checkbox" id="agree" onchange="aceito()"> Li e aceito os <a href=# data-toggle="modal" data-target="#modal_termos">termos e condições</a>
            </label>
            <form action="/divida/" method="post" onsubmit="return validateForm()">
                <fieldset disabled id="disable1">
                    {% csrf_token %}
                <div class="col-md-4">
                        <div class="fieldWrapper">
                            {{ form.as_p }}
                        </div>
                    <br>
                      <div class="form-group">
                        <label for="descricao">Descrição</label>
                          <textarea class="form-control" rows="3" id="descricao" name="descricao"></textarea>
                          max. 8000 caracteres
                      </div>
                        <div class="row">
                        <div class="col-md-4">
                            <button type="submit" value="Submit" class="btn btn-primary" id="enviar" >Enviar</button>
                        </div>
                        </div>
                </div>
                    </fieldset>
            </form>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="modal_termos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Termos e condições
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}