{% extends 'posto/base.html' %}

{% block content %}


<script>
function disableField() {
    var x = document.getElementById("checkbox");
    if (x.checked){
        document.getElementById("disable").disabled = false;
    }else{
        document.getElementById("disable").disabled = true;
    }
}

function undisableField() {
    document.getElementById("disable").disabled = false;
}
</script>


<hr>
    <div class="container">
        <div class="row">
            <label>
                <input type="checkbox" id="agree" onClick="disableField()"> Check me out
            </label>
            <form action="/divida/" method="post" onsubmit="return validateForm()">
                <fieldset disabled id="disable">
                    {% csrf_token %}
                <div class="col-md-4">
                        <div class="fieldWrapper">
                            {{ form.as_p }}
                        </div>
                    <br>
                      <div class="form-group">
                        <label for="descricao">Descrição</label>
                          <textarea class="form-control" rows="3" id="descricao" name="descricao"></textarea>
                          max. 8000 caracteres
                      </div>
                        <div class="row">
                        <div class="col-md-4">
                            <button type="submit" value="Submit" class="btn btn-primary" id="enviar" >Enviar</button>
                        </div>
                        </div>
                </div>
                    </fieldset>
            </form>
        </div>
    </div>

{% endblock %}