{% extends 'posto/base.html' %}

{% block content %}
{% load staticfiles %}

<script>
function aceito(){
    if (document.getElementById("disable1").disabled == false) {
        document.getElementById("disable1").disabled = true;
    } else {
        document.getElementById("disable1").disabled = false;
    }
};
</script>

        {% block nav %}
            {% include 'posto/nav-ul-logged.html' %}
        {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/src/jquery.maskMoney.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/MaskPlugin/src/jquery.mask.js' %}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
     $(".nav").find(".active").removeClass("active");
     $(".nav").find("#registrar").addClass("active");
});
</script>

<style>
    .teste{
        color: red;
    }
</style>

<hr>
    <div class="container" id="mouse">
        <div class="row">
            {% if c_errors == 'cnpj' %}
                <h3>CNPJ inválido</h3>
            {% endif %}
            <label>
                <input type="checkbox" id="agree" onchange="aceito()"> Li e aceito os <a href=# data-toggle="modal" data-target="#modal_termos">termos e condições</a>
            </label>

            <form class="form-horizontal" action="/divida/" method="post" onsubmit="return validateForm()">
                <fieldset disabled id="disable1">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="credor_fake">Credor</label>
                                <input type="text" class="form-control" id="credor_fake" name="" placeholder="{{ credor.empresa }}" disabled>
                                <br>
                                <div class="form-group">
                                    <div class="input-group">
                                      <div class="input-group-addon">R$</div>
                                        <input type="text" class="form-control" id="valor" name="valor" placeholder="Valor da dívida">
                                        <script type="text/javascript">$("#valor").maskMoney({allowNegative: false, thousands:'.', decimal:',', affixesStay: false});</script>                                        {{ form.valor.errors }}
                                    </div>
                                </div>
                        </div>
                        </div>
                            <div class="row">
                                <div class="col-md-4">
                                <div class="form-group " id="divi">
                                        <input type="text" class="form-control" id="vencimento" name="vencimento" placeholder="Vencimento da dívida">
                                        <script type="text/javascript">$("#vencimento").mask("99/99/9999");</script>
                                        {{ form.vencimento.errors }}
                                </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.tipo_divida.id_for_label }}" class="col-sm-2 control-label">Origem</label>
                                        {{form.tipo_divida}}
                                        {{ form.tipo_divida.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="deve">Devedor</label>
                                <div class="form-group" id="deve">
                                        <input type="text" class="form-control" id="nome_devedor" name="nome_devedor" placeholder="Nome do devedor">
                                        {{ form.nome_devedor.errors }}
                                        <input type="text" class="form-control" id="ident_devedor" name="ident_devedor" placeholder="CNPJ ou CPF do devedor">
                                        {{ form.ident_devedor.errors }}
                                        {% if c_errors == 'cnpj' %}
                                            <ul><li>CNPJ ou CPF inválido</li></ul>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-6">
                                    <label for="cit">Citados</label>
                                    <div class="form-group" id="cit">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="citado" id="citado" placeholder="Nome">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF">
                                            <script type="text/javascript">$("#cpf").mask('000.000.000-00', {reverse: true});</script>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="citado2" id="citado2" placeholder="Nome">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="cpf2" id="cpf2" placeholder="CPF">
                                            <script type="text/javascript">$("#cpf2").mask('000.000.000-00', {reverse: true});</script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                            <div class="col-md-8">
                              <div class="form-group">
                                <label for="descricao">Descrição</label>
                                  <textarea class="form-control" rows="3" id="descricao" name="descricao"></textarea>
                                  max. 8000 caracteres
                                  {{ form_desc.descricao.errors }}
                              </div>
                                <div class="row">
                                    <button type="submit" value="Submit" class="btn btn-primary" id="enviar" >Enviar</button>
                                </div>
                            </div>
                </fieldset>
            </form>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modal_termos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Termos e condições de uso.</h4>
      </div>
      <div class="modal-body">
          <pre>

        1- Da responsabilidade das informações prestadas

        1.1- As informações prestadas são de inteira responsabilidade do usuário que

        fica desde já advertido que deverá manter em sua posse documentos,

        gravações, vídeos ou outros meios que comprovem as suas alegações e

        informações a respeito de terceiros, para que possam apresentá-los em

        juízo ou fora dele.

        2- Do compartilhamento de dados

        2.1-  Os seus dados informados no ato do cadastramento a este site poderão ser

        compartilhados ou informados para outros usuários, desse ou de outros sites, de

        acordo com os interesses do administrador desse site.

        3- Do registro de dados

        3.1 - No ato de sua conexão com esse site os seus dados serão arquivados

        em um arquivo protocolo, que registrarão os seus dados abaixo:

        Seu endereço de IP que identifica o seu computador.

        O horário e também o site da internet a partir do qual você foi direcionado ao site
              </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}